<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gandawijaya.klinfix">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.SignUp.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.SignUp.ActivityRegister"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".view.User.Activity.ActivityUser"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.Patner.ActivityPatners.ActivityPatner" />
        <activity
            android:name=".view.User.Order.ActivityOrder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.Patner.PatnerProfil.ActivityAskWhiteDraw"  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.Patner.PatnerProfil.ActivityHistoryTransaksi" android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>